<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            overflow: hidden; /* Verhindert den natürlichen Body-Scrollbar */
            background-color: #9E3633;
            font-family: 'Inter','Roboto', Arial, Helvetica, sans-serif;
        }
        .fullscreen-div {
            width: 100vw; /* 100% der Viewport-Breite */
            height: 100vh; /* 100% der Viewport-Höhe */
            display: flex;
            overflow-x: auto;
            height: 100vh; /* 100% der Viewport-Höhe */
           
        }
        .day{
            /*background-color: lightblue;*/
            min-width: 275px;
            max-width: 275px;
            
            overflow-x: hidden;
            margin-top: 50px;
            margin-left: 20px;
            
        }
        .day:last-child{
        }
        .event{
            margin-bottom: 20px;
            margin-right: 2px;
            height: auto;
            background-color: white;
            border-radius: 12px;
            padding: 15px;
            color: #181818;
        }
        h1{
            color: white;
           
        }
        h2,h3{
            margin: 2px 0px 2px 0px;
        }
        header{
            padding: 15px 0px 0px 25px ;
            margin: 0;
        }
        .dayHead{
            background-color: #862F29;
            color: white;
            padding: 8px 8px 8px 15px;
            margin-bottom: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="fullscreen-div">
        <div class="day">
            <div class="dayHead">
                <h2>Montag</h2>
            </div>
            <div class="event">
                <h3>Einführung</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
            </div>
        </div>
        <div class="day">
            <div class="dayHead">
                <h2>Dienstag</h2>
            </div>
            <div class="event">
                <h3>Einführung</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
            </div>
        </div>
        <div class="day">
            <div class="dayHead">
                <h2>Mittwoch</h2>
            </div>
            <div class="event">
                <h3>Einführung</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
            </div>
        </div>
        <div class="day">
            <div class="dayHead">
                <h2>Donnerstag</h2>
            </div>
            <div class="event">
                <h3>Einführung</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
            </div>
        </div>
        <div class="day">
            <div class="dayHead">
                <h2>Freitag</h2>
            </div>
            <div class="event">
                <h3>Einführung</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
            </div>
        </div>
        <div class="day">
            <div class="dayHead">
                <h2>Nach den O-Tagen</h2>
            </div>
            <div class="event">
                <h3>Einführung</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor hic autem nostrum. Suscipit, aperiam qui fugit voluptatum tempora natus atque eligendi fuga temporibus eveniet dolore, cupiditate corrupti blanditiis magni.
            </div>
            <div class="event">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nihil vero nobis facilis eligendi cum aliquam! Cumque animi aliquam consequuntur. Doloremque velit eaque dolorem necessitatibus dicta iure dolore eius pariatur?
            </div>
        </div>
    </div>
</body>
</html>