<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="auth-area.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="icon" href="/img/logo_32x32.png" type="image/png">
    <title>Teamer-Login | Erstifahrt</title>
</head>
<body>
    <div class="container">
    <h1 style="color: #880000;">Teamer-Login</h1>
   
    
  
    <form action="/teamer/login" method="POST">
        <div class="entryfield">
            <!--<label for="mail">E-Mail</label><br>-->
            <input  type="email" id="mail" name ="mail" required placeholder="username">
        </div>
        <div class="entryfield">
            <!--<label for="password">Password</label><br>-->
            <input type="password" id="password" name ="password" required placeholder="password">
        </div>
        <div class="basic">
            <button type="submit">Login</button>
        </div>
</form>
<br>
<div class="basic" style="color: #880000;">
    <% if (messages.error) {%>
        <%= messages.error %>
        <% } %>
</div>



</div>
</body>
</html>